.itemsNav{
    display: -webkit-flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}

#menuIcon{
    font-size: 30px;
    display: none;
    margin-left: 8px;
    margin-right: 8px;
}

#header{
    background:#512DA8;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    font-size: 20px;
}